# Ignore copies created by docker
bin/
Bin/
obj/
/dotnet-mysql-application.csproj

# Stuff created by OSX
.DS_Store

# VS-code
.vs

# Ignore copy of project file created by docker
/dotnet-mysql-application.csproj